@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"; 

@font-face {
  font-family: "Merriweather-Bold";
  font-weight: 400;
  font-style: normal;
  src: url("https://fonts.google.com/specimen/Merriweather");
  font-display: swap;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  body {
    background: #F3EDFE;
    overflow: scroll;
  }
}

  @media only screen and (min-width : 1224px) and (max-width : 2000px) {
  body {
     background: #F3EDFE;
     overflow: scroll;
  }
}

@media only screen  and (min-width : 1824px) {
  body {
    background: #F3EDFE;
    overflow: scroll;
  }
 }  

h1 {
  font-size: 35px;
  text-align: center;
  font-family: merriweather-bold;
  color: #9F4FF9;
  margin: 30px;
  padding: 2px;
  border: 3px solid #8395FA;
  background: #CADAFE; 
  box-sizing: border-box;
  border-radius: 1em; 
  position: relative;
  border-style: ridge;
} 

  nav a {
  text-decoration: none;
  text-align: center;
  font-size: 27px;
  font-family: merriweather-black;
  background: #CAEAFE;
  color: #6774FE;
  margin: 15px;
  padding: 0px;
  border-radius: 25px;
  width: 100%; 
  position: relative;
  
}
  
div.vertical-menu {
  width: 200px;
  height: 125px;
  overflow-y: auto;
  margin: 30px;
}

.vertical-menu a {
  background-color: lightskyblue;
  color: #2945F3;
  display: block;
  padding: 12px;
  text-decoration: none;
  font-family: merriweather-bold;
  font-size: 15px;
  margin: 1px;
  
}
.vertical-menu a:hover {
  background-color: dodgerblue;
}

.vertical-menu a.active {
  background-color: #BAA0F8;
  color: #7C29F3;
}

ul{
list-style:none;
margin:0;
padding:0;
}

img.artist-photo {
  width: 150px;
  height: 150px;
  float: left;
  margin: 23px;
}
 img.social-media-logo {
    width: 1em;
    height: 1em;
    transform: translate(8px,5px);
    border-radius: 20px;
}
  
  i.fa-envelope {
    color: #1F317C;
  }
  
   
  i.fa-instagram {
    color: white;
    background: linear-gradient(#FFDC80, #FCAF45, #F77737, #F56040, #FD1D1D, #E1306C, #C13584, #833AB4, #5851DB, #405DE6);
    border-radius: 8px;
    height: 27.5px;
    width: 27.5px;
  
  }  
  
  
  i.fa-facebook {
    color: white;
    background: #1877f2;
    border: 8px solid #1877f2;
    border-radius: 65%;
    width: 18px;
    height: 17px;
    transform: translate(5px, 6px);
    border-shadow: 
    
    
}
  
  i.fa-paypal{
    color: #3b7bbf;
  }

div {
  display: block;
  position: relative;
  margin: 12px;
}
nav a:hover {
  background-color: #FCBFE6;
}
h2 {
  text-align: left;
  font-family: merriweather-bold;
  font-size: 20px;
  color: #5E5EF8;
  padding: 10px;
  position: relative;
  top: 0px;
  left: 0px;
}

img.artist-photo {
  width: 
}

p {
  text-align: left;
  writing-mode: vertical lr;
  text-orientation: glyph-orientation-vertical;
  font-family: merriweather-bold;
  font-size: 15px;
  margin: 10px;
  color: #803FF9;
  top: 0px;
  left: 0px;
  padding: 15px 0;
  border: 3px solid #4098FB;
  }

footer {
  font-size: 12px;
  text-align: center;
  font-family: merriweather-black;
}